<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        
         <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');
            
            body {
                background-color: #D9BEA7;
            }
            #container{
                width: 50%;
                margin: auto;
            }
            table {
                font-family:'Roboto', sans-serif;
                border-collapse: collapse;
                width: 100%;
                }

                td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 10px;
                }

                tr:nth-child(even) {
                background-color: #dddddd;
            }

            .button-container {
                font-family:'Roboto', sans-serif;
                display:inline-flex;
                gap:10px;
            }
            h1, h2, {

            color: #0D0D0D;
            }

        </style>
    </head>
    <body>
        <div id="container">
            <h1>Family Grocery List</h1>

            
            <!--Form to accept grocery data-->
            <h2>Enter Grocery Item:</h2>
            <form action="/create_item" method="POST">
                <input type="text"  name="item_name" class="form-control"  placeholder="Enter grocery item (ex. Cereal)" size="40"><br>
                <input type="number"  name="item_count" class="form-control" placeholder="Enter quantity (ex. 2)" size="60"><br>
                <input type="text"  name="description" class="form-control" placeholder="Enter a description" size="60"><br>
                <input type="submit" class="btn btn-primary" value="submit">
            </form>

            <!-- Display Grocery Items -->
            <h2>Grocery List:</h2>
            <table style="margin: 20px;">
                    <tr>
                        <th>Grocery ID</th>
                        <th>Grocery Name</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Modify</th>
                    </tr>
                {{#each rows}}
                    <tr>
                         <td>{{this.itemID}}</td>
                        <td>{{this.item_name}}</td>
                        <td>{{this.item_count}}</td>
                         <td>{{this.description}}</td>
                        <td>
                            <div class="button-container">
                            <form action="/update_item" method="POST">
                                <button name="updaterecord" id="updatenow" type="submit" class="btn btn-success" value="{{this.itemID}}">UPDATE</button>
                            </form>
                            <form action="/delete_item" method="POST">
                                <button name="deleterecord" id="deletenow" type="submit" class="btn btn-danger" value="{{this.itemID}}">DELETE</button>
                            </form>
                            </div>
                        </td>
                        
                    </tr>
                {{/each}}
            </table>
        </div>
    </body>

</html>